champsim/inc/champsim_constants.h
champsim/inc/cache_modules.inc
champsim/inc/ooo_cpu_modules.inc
champsim/src/core_inst.cc
champsim/.champsimconfig_cache
champsim/./Makefile
champsim/bin/
champsim/obj/
champsim/**/*.o
champsim/**/*.d
champsim/tracer/pin/obj-intel64/
champsim/configs/old/

dramsim3/build/
dramsim3/debug_build/
dramsim3/data/
dramsim3/ext/SuperLU_MT_3.1/
dramsim3/obj
dramsim3/dramsim3
dramsim3/dramsim3test
dramsim3/dramsim3main
dramsim3/*.log
dramsim3/release
dramsim3/.idea
dramsim3/*.pyc
dramsim3/*.vh
dramsim3/.vs/
dramsim3/*.slo
dramsim3/*.lo
dramsim3/*.o
dramsim3/*.obj
dramsim3/*.gch
dramsim3/*.pch
dramsim3/*.so
dramsim3/*.dylib
dramsim3/*.dll
dramsim3/*.mod
dramsim3/*.smod
dramsim3/*.lai
dramsim3/*.la
dramsim3/*.a
dramsim3/*.lib
dramsim3/*.exe
dramsim3/*.out
dramsim3/*.app
dramsim3/.vscode/
pythia/.DS_Store
pythia/._.DS_Store
pythia/.vscode/
pythia/bin/
pythia/obj/
pythia/branch/
pythia/docs/
pythia/inc/
pythia/prefetcher/
pythia/src/
pythia/replacement/
pythia/tracer/
pythia/config/
pythia/dpc3_traces/
pythia/traces/
pythia/cvp1_traces/
pythia/experiments/*Sim/
pythia/experiments/old_experiments/
pythia/experiments/all_figures/
pythia/experiments/representative_figures/
pythia/experiments/figures/mop_gs8/10Mn/
pythia/experiments/figures/mop_gs8/T1K/
pythia/experiments/figures/mop_gs8/T2K/
pythia/experiments/figures/mop_gs8/raa_rfm/TH*
pythia/experiments/figures/mop_gs8/raa_rfm/full_ref/
pythia/DDR5_baseline*
pythia/core.*
pythia/*4T_base/
pythia/graphs/stat_scripts/extras/
pythia/tags
pythia/*.out
pythia/*.err
pythia/libbf/
test_dramsim3/
git_stuff/
trace_set/
traces.tar.gz
