pythia/.DS_Store
pythia/._.DS_Store
pythia/.vscode/
pythia/bin/
pythia/obj/
pythia/branch/
pythia/docs/
pythia/inc/
pythia/prefetcher/
pythia/src/
pythia/replacement/
pythia/tracer/
pythia/config/
pythia/dpc3_traces/
pythia/traces/
pythia/cvp1_traces/
pythia/experiments/*Sim/
pythia/experiments/old_experiments/
pythia/DDR5_baseline*
pythia/core.*
pythia/*4T_base/
pythia/graphs/stat_scripts/extras/
pythia/tags
pythia/*.out
pythia/*.err
pythia/libbf/
